@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: inline-block; }

body {
  line-height: 1; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*:focus {
  outline: 0; }

[class*='grid']:after {
  content: "";
  display: table;
  clear: both; }

.grid-full {
  width: 100%; }

.grid {
  max-width: 800px;
  margin: 0 auto; }

.column, .column-1-12, .column-2-12, .column-3-12, .column-4-12, .column-5-12, .column-6-12, .column-7-12, .column-8-12, .column-9-12, .column-10-12, .column-11-12, .column-12-12 {
  float: left;
  padding: 10px;
  background: #F7F7F7;
  border: 1px solid #FFFFFF; }

.column-1-12 {
  width: 8.33333%; }

.column-2-12 {
  width: 16.66667%; }

.column-3-12 {
  width: 25%; }

.column-4-12 {
  width: 33.33333%; }

.column-5-12 {
  width: 41.66667%; }

.column-6-12 {
  width: 50%; }

.column-7-12 {
  width: 58.33333%; }

.column-8-12 {
  width: 66.66667%; }

.column-9-12 {
  width: 75%; }

.column-10-12 {
  width: 83.33333%; }

.column-11-12 {
  width: 91.66667%; }

.column-12-12 {
  width: 100%; }

@media (min-width: 480px) and (max-width: 700px) {
  .column-1-12 {
    width: 50%; }

  .column-2-12 {
    width: 50%; }

  .column-3-12 {
    width: 50%; }

  .column-4-12 {
    width: 50%; }

  .column-5-12 {
    width: 50%; }

  .column-6-12 {
    width: 50%; }

  .column-7-12 {
    width: 50%; }

  .column-8-12 {
    width: 50%; }

  .column-9-12 {
    width: 50%; }

  .column-10-12 {
    width: 50%; }

  .column-11-12 {
    width: 50%; } }
@media (max-width: 480px) {
  .column-1-12 {
    width: 100%; }

  .column-2-12 {
    width: 100%; }

  .column-3-12 {
    width: 100%; }

  .column-4-12 {
    width: 100%; }

  .column-5-12 {
    width: 100%; }

  .column-6-12 {
    width: 100%; }

  .column-7-12 {
    width: 100%; }

  .column-8-12 {
    width: 100%; }

  .column-9-12 {
    width: 100%; }

  .column-10-12 {
    width: 100%; }

  .column-11-12 {
    width: 100%; }

  .column-12-12 {
    width: 100%; } }
html {
  font-size: 1px; }

body {
  font-size: 14rem;
  font-family: "Raleway", sans-serif;
  line-height: 1;
  font-weight: 300;
  text-align: left; }

h1, h2, h3, h4, h5, h6, small {
  font-weight: 100;
  margin: 0.4em 0; }

h1 {
  font-size: 55rem; }

h2 {
  font-size: 39rem; }

h3 {
  font-size: 27rem; }

h4 {
  font-size: 19rem; }

h5 {
  font-size: 9rem; }

h6 {
  font-size: 7rem; }

small {
  font-size: 8rem; }

p {
  font-size: 14rem;
  margin-bottom: 1em;
  line-height: 1.6; }

b {
  font-weight: 500; }

a {
  text-decoration: none;
  font-size: 12rem;
  font-weight: 300;
  color: #CD6799; }
  a:hover {
    color: #280d1a; }

nav {
  width: 100%;
  z-index: 10;
  text-align: center; }
  nav ul li {
    display: inline-block;
    margin: 20px 10px; }
    nav ul li:first-child {
      margin-left: 0; }
    nav ul li:last-child {
      margin-right: 0; }

.button, .button-left, .button-right {
  display: inline-block;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  text-align: center;
  background: #CD6799;
  font-size: 10rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 10px 30px;
  margin: 10px 0;
  font-weight: 500;
  cursor: pointer;
  color: #FFF;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .button:hover, .button-left:hover, .button-right:hover {
    background: #9b3366;
    color: #FFF; }

.button-left {
  float: left; }

.button-right {
  float: right; }

.button-group {
  display: inline-block; }
  .button-group .button, .button-group .button-left, .button-group .button-right {
    display: inline-block;
    border-radius: 0;
    padding: 10px 15px;
    margin: 10px -2px; }
    .button-group .button:first-child, .button-group .button-left:first-child, .button-group .button-right:first-child {
      border-radius: 2px 0 0 2px;
      margin-left: 0; }
    .button-group .button:last-child, .button-group .button-left:last-child, .button-group .button-right:last-child {
      border-radius: 0 2px 2px 0;
      margin-right: 0; }

@media (max-width: 480px) {
  .button-group {
    display: block;
    width: 100%; }
    .button-group .button, .button-group .button-left, .button-group .button-right {
      display: block;
      width: 100%;
      margin: 0;
      border-radius: 0; }
      .button-group .button:first-child, .button-group .button-left:first-child, .button-group .button-right:first-child {
        border-radius: 2px 2px 0 0; }
      .button-group .button:last-child, .button-group .button-left:last-child, .button-group .button-right:last-child {
        border-radius: 0 0 2px 2px; } }
input, textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0 10px 0;
  background: none;
  border: 1px solid #000;
  border-radius: 2px;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #000; }

textarea {
  height: 100px; }

input::-webkit-input-placeholder, input:-moz-placeholder, input::-moz-placeholder, input:-ms-input-placeholder, textarea::-webkit-input-placeholder, textarea:-moz-placeholder, textarea::-moz-placeholder, textarea:-ms-input-placeholder {
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #888; }

label {
  font-size: 10px;
  font-weight: 400; }

select {
  display: inline-block;
  position: relative;
  margin-top: 10px;
  background: #CD6799;
  background-image: linear-gradient(45deg, transparent 50%, #FFF 50%), linear-gradient(135deg, #FFF 50%, transparent 50%);
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  padding: 9px 20px 9px 20px;
  border-radius: 2px;
  border: 1px solid #FFFFFF;
  Color: #FFFFFF;
  font-weight: 500;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  cursor: pointer; }
  select:hover {
    border: 1px solid #9b3366; }

.dropdown {
  -webkit-appearance: none;
  position: relative;
  padding: 10px 40px 10px 20px;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  margin: auto;
  border-radius: 2px;
  border: 1px solid #FFFFFF;
  background: #CD6799;
  Color: #FFFFFF;
  font-weight: 500;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .dropdown:hover, .dropdowndropdown:focus {
    color: #FFFFFF;
    background: #9b3366;
    border: 1px solid #9b3366; }
  .dropdown ul {
    position: absolute;
    z-index: 999;
    width: 100%;
    margin: 8px -20px;
    border-radius: 0;
    opacity: 0;
    padding: 40px 0 0;
    pointer-events: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .dropdown ul li {
      display: block;
      float: left;
      margin: 0;
      width: 100%;
      border-left: 1px solid #FFFFFF;
      border-right: 1px solid #FFFFFF;
      background: #F7F7F7; }
      .dropdown ul li:first-child {
        border-radius: 2px 2px 0 0;
        border-top: #000; }
      .dropdown ul li:last-child {
        border-radius: 0 0 2px 2px;
        border-bottom: #000; }
      .dropdown ul li a {
        text-transform: capitalize;
        padding: 10px;
        text-align: left;
        display: block;
        font-size: 10rem;
        font-weight: 500;
        color: #000;
        border-radius: 2px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        .dropdown ul li a:hover {
          color: #FFF;
          background: #CD6799; }

.dropdown:after {
  position: absolute;
  top: 40%;
  right: 15px;
  content: " ";
  height: 0;
  border: solid transparent;
  border-top-color: #FFF;
  border-width: 5px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.dropdown:hover:after {
  border-top-color: #FFF; }

.dropdown ul:before {
  position: relative;
  top: 0;
  right: 15px;
  float: right;
  content: " ";
  height: 0;
  border: solid transparent;
  border-bottom-color: #F7F7F7;
  border-width: 5px; }

.open > ul {
  opacity: 1;
  padding: 0;
  pointer-events: auto; }

table {
  background: none;
  font-size: 12px; }
  table th {
    font-weight: 400;
    text-align: left;
    padding: 5px 0; }
  table tr {
    border-bottom: 1px solid #000; }
    table tr td {
      padding: 5px 0; }

ul.tabs:before {
  clear: both; }

ul.tabs {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none; }

ul.tabs li {
  background: none;
  font-size: 12px;
  color: #222;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 2px 2px 0 0;
  cursor: pointer; }

ul.tabs li.current {
  background: #ededed;
  color: #222; }

ul.tabs li:hover {
  background: #F1F1F1; }

.tab-content {
  display: none;
  background: #ededed;
  padding: 10px; }

.tab-content.current {
  display: inherit; }

.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.clearfix {
  clear: both; }

img {
  width: 100%; }

.image-container {
  width: 100%;
  height: 50vh;
  overflow: hidden; }

hr {
  width: 100%;
  margin: auto;
  border: 0.5px solid #EAEAEA;
  height: 0;
  margin: 20px 0; }

.center-text {
  text-align: center; }

.left-text {
  text-align: left; }

.right-text {
  text-align: right; }

.spacer {
  height: 40px; }

@media (min-width: 700px) and (max-width: 1100px) {
  .spacer {
    height: 40px; } }
@media (min-width: 480px) and (max-width: 700px) {
  .spacer {
    height: 20px; } }
@media (max-width: 480px) {
  .spacer {
    height: 10px; } }

/*# sourceMappingURL=sutairu.css.map */
