// CONFIG FILE

// Set the number of columns
$columns: 12
$grid-size: 800px

// Breakpoints
$desktop: 1100px
$tablet: 700px
$mobile: 480px

// Colours
$body-color: #8A8A8A
$primary-color: #8A8A8A
$secondary-color: #F7F7F7
$background-secondary: #F7F7F7

$border-color: 1px solid #8A8A8A

$info: #3498db
$verified: #83D699
$warning: #e76e22
$disabled: #8A8A8A

// Fonts
$brand-font: 'Raleway', sans-serif
$font-base: 1px
$global-line-height: 1
$paragraph-line-height: 1.6

// Paddings
$content-padding: 10px
$input-padding: 10px

// Utilities
$border-radius: 2px
$opacity-overlay: .5

// Spacers
$spacer-desktop: 40px
$spacer-tablet: 20px
$spacer-mobile: 10px
