////////////////////////////////////////////////////////////////////////////////
// Config File
////////////////////////////////////////////////////////////////////////////////

$columns: 12        // Number of columns
$grid-size: 1024px  // Constrained width size

// Breakpoints
$xl: 1440px
$l: 1024px
$m: 768px
$s: 1px

// Colours
$body-color: #8A8A8A
$primary-color: #D670A2
$secondary-color: #E5E5E5

// Notice
$info: #3498db
$verified: #83D699
$warning: #e76e22
$disabled: #8A8A8A

// Borders
$border-style: 1px solid $primary-color
$border-radius: 2px

// Paddings
$content-padding: 10px
$input-padding: 10px
