////////////////////////////////////////////////////////////////////////////////
// Grid Setup
////////////////////////////////////////////////////////////////////////////////

$col-width: 100% / $columns

[class*='row']:after
  content: ""
  display: table
  clear: both

.row-full
  width: 100%

.row
  max-width: $grid-size
  margin: 0 auto

[class*='col']
  float: left
  padding: $content-padding
  border: 1px solid $tertiary-color

// Columns, Push & Pulls

@for $x from 1 through $columns
  .col-#{$x}-#{$columns}
    width: $col-width * $x
  .push-#{$x}-#{$columns}
    margin-left: (100/$columns)* $x + unquote("%")
  .pull-#{$x}-#{$columns}
    margin-left: unquote("-") + (100/$columns)* $x + unquote("%")
  .pull-c, .push-c
    margin: 0

@media (min-width: $xl)
  @for $x from 1 through $columns
    .col-xl-#{$x}-#{$columns}
      width: $col-width * $x
    .push-xl-#{$x}-#{$columns}
      margin-left: (100/$columns)* $x + unquote("%")
    .pull-xl-#{$x}-#{$columns}
      margin-left: unquote("-") + (100/$columns)* $x + unquote("%")
    .pull-xl-c, .push-xl-c
      margin: 0

@media (min-width: $l) and (max-width: $xl)
  @for $x from 1 through $columns
    .col-l-#{$x}-#{$columns}
      width: $col-width * $x
    .push-l-#{$x}-#{$columns}
      margin-left: (100/$columns)* $x + unquote("%")
    .pull-l-#{$x}-#{$columns}
      margin-left: unquote("-") + (100/$columns)* $x + unquote("%")
    .pull-l-c, .push-l-c
      margin: 0

@media (min-width: $m) and (max-width: $l)
  @for $x from 1 through $columns
    .col-m-#{$x}-#{$columns}
      width: $col-width * $x
    .push-m-#{$x}-#{$columns}
      margin-left: (100/$columns)* $x + unquote("%")
    .pull-m-#{$x}-#{$columns}
      margin-left: unquote("-") + (100/$columns)* $x + unquote("%")
    .pull-m-c, .push-m-c
      margin: 0

@media (min-width: $s) and (max-width: $m)
  @for $x from 1 through $columns
    .col-s-#{$x}-#{$columns}
      width: $col-width * $x
    .push-s-#{$x}-#{$columns}
      margin-left: (100/$columns)* $x + unquote("%")
    .pull-s-#{$x}-#{$columns}
      margin-left: unquote("-") + (100/$columns)* $x + unquote("%")
    .pull-s-c, .push-s-c
      margin: 0
