// Mixins
=transition($transitiontime)
  -webkit-transition: all $transitiontime ease
  -moz-transition: all $transitiontime ease
  -ms-transition: all $transitiontime ease
  -o-transition: all $transitiontime ease
  transition: all $transitiontime ease

=animation-duration($animation-duration-time)
  -webkit-animation-duration: $animation-duration-time
  -moz-animation-duration: $animation-duration-time
  -ms-animation-duration: $animation-duration-time
  -o-animation-duration: $animation-duration-time
  animation-duration: $animation-duration-time

=animation-delay($animation-delay-time)
  -webkit-animation-delay: $animation-delay-time
  -moz-animation-delay: $animation-delay-time
  -ms-animation-delay: $animation-delay-time
  -o-animation-delay: $animation-delay-time
  animation-delay: $animation-delay-time
