// 6. UI
// 6.1 Navagation

nav
  width: 100%
  z-index: 10
  text-align: center
  ul li
    display: inline-block
    margin: 20px 10px
    &:first-child
      margin-left: 0
    &:last-child
      margin-right: 0

// 6.2 Lists

// 6.3.1 Buttons

.button
  display: inline-block
  border: $border-color
  border-radius: $border-radius
  text-align: center
  background: $secondary-color
  font-size: 10rem
  text-transform: uppercase
  letter-spacing: 0.1em
  padding: 10px 30px
  margin: 10px 0
  font-weight: 500
  cursor: pointer
  color: #FFF
  +transition(.5s)
  &:hover
    background: $primary-color
    color: #FFF

.button-float-left
  @extend .button
  float: left
.button-float-right
  @extend .button
  float: right

// 6.3.2 Grouped Buttons

.button-group .button
  display: inline-block
  border-radius: 0
  padding: 10px 15px
  margin: 10px -2px

.button-group .button:first-child
  border-radius: $border-radius 0 0 $border-radius
  margin-left: 0

.button-group .button:last-child
  border-radius: 0 $border-radius $border-radius 0
  margin-right: 0

@media (max-width: 700px)
  .button-group .button
    display: block
    width: 100%
    margin: 0px
    border-radius: 0

  .button-group .button:first-child
  border-radius: $border-radius $border-radius 0 0

  .button-group .button:last-child
  border-radius: 0 0 $border-radius $border-radius

// 6.4 Input

input, textarea
  width: 100%
  padding: $input-padding
  margin: 5px 0 10px 0
  background: none
  border: 1px solid #000
  border-radius: $border-radius

  font-family: $brand-font
  font-size: 12px
  font-weight: 300
  color: #000

textarea
  height: 100px

input::-webkit-input-placeholder, input:-moz-placeholder, input::-moz-placeholder, input:-ms-input-placeholder, textarea::-webkit-input-placeholder, textarea:-moz-placeholder, textarea::-moz-placeholder, textarea:-ms-input-placeholder
  font-family: $brand-font
  font-size: 12px
  font-weight: 300
  color: #888

// 6.5 Labels

label
  font-size: 10px
  font-weight: 400

// 6.6 Button Dropdowns & Select Boxes
// Note: Rewrite dropdowns with SASS nesting

.dropdown, select
  -webkit-appearance: none
  position: relative
  padding: 12px 40px 12px 20px
  display: inline-block
  text-decoration: none
  font-weight: bold
  margin: auto
  border-radius: $border-radius
  border: $border-color
  background: $primary-color
  Color: #000
  font-weight: 500
  font-size: 10px
  text-transform: uppercase
  letter-spacing: 0.1em
  cursor: pointer
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -o-user-select: none
  user-select: none
  @include transition(.3s)
  ul
    position: absolute
    z-index: 999
    width: 100%
    margin: 8px -20px
    border-radius: 0
    opacity: 0
    padding: 40px 0 0
    pointer-events: none
    @include transition(.3s)
    li
      display: block
      float: left
      margin: 0
      width: 100%
      border-left: $border-color
      border-right: $border-color
      background: #FFF
      a
        text-decoration:none
        padding: 10px
        text-align: left
        display: block
        font-size: .75em
        color: black
        border-radius: 0
        @include transition(.3s)
    li:first-child
      border-radius: $border-radius $border-radius 0 0
      border-top: $border-color
    li:last-child
      border-radius: 0 0 $border-radius $border-radius
      border-bottom: $border-color

.dropdown:hover, .dropdown:focus
  color: #FFF
  background: #000
  border: 1px solid #000

.dropdown:after
  position: absolute
  top: 40%
  right: 15px
  content: " "
  height: 0
  border: solid transparent
  border-top-color: #000
  border-width: 5px
  @include transition(.3s)

.dropdown:hover:after
  border-top-color: #FFF

.dropdown ul:before
  position: relative
  top: 0
  right: 15px
  float: right
  content: " "
  height: 0
  border: solid transparent
  border-bottom-color: #000
  border-width: 5px

.open > ul
  opacity: 1
  padding: 0
  pointer-events: auto

.dropdown ul li a:hover
  color: #FFF
  background: #000

// 6.7 Tables

table
  background: none
  font-size: 12px

  th
    font-weight: 400
    text-align: left
    padding: 5px 0

  tr
    border-bottom: 1px solid #000
    td
      padding: 5px 0

// 6.8 Tabs

ul.tabs:before
  clear: both

ul.tabs
  display: block
  margin: 0px
  padding: 0px
  list-style: none

ul.tabs li
  background: none
  font-size: 12px
  color: #222
  display: inline-block
  padding: 10px 15px
  border-radius: $border-radius $border-radius 0 0
  cursor: pointer

ul.tabs li.current
  background: #ededed
  color: #222

ul.tabs li:hover
  background: #F1F1F1

.tab-content
  display: none
  background: #ededed
  padding: 10px

.tab-content.current
  display: inherit

//6.9 Checkboxes

//6.10 Validation "Error Messages"
