////////////////////////////////////////////////////////////////////////////////
// Utilities & Helpers
////////////////////////////////////////////////////////////////////////////////

.vertical-align
  position: relative
  top: 50%
  -webkit-transform: translateY(-50%)
  -ms-transform: translateY(-50%)
  transform: translateY(-50%)

.clearfix
  content: ""
  display: table
  clear: both

hr
  width: 100%
  margin: 20px auto
  border: .5px solid #EAEAEA
  height: 0

.text-center
  text-align: center
.text-left
  text-align: left
.text-right
  text-align: right
