// BRAND CONFIG FILE

// Set the number of columns
$columns: 12
$grid-size: 960px

// Colours
$primary-color: none
$secondary-color: #3498db
$dark-background: #F7F7F7

$border-color: 1px solid #2c3e50

$info: #3498db
$verified: green
$warning: #e76e22
$disabled: #e74c3c

// Fonts
$brand-font: 'Raleway', sans-serif
$global-line-height: .9em

// Paddings
$content-padding: 20px
$input-padding: 10px

// Utilities
$border-radius: 4px
$opacity-overlay: .5

// Define size for spacer on devices
$spacer-desktop: 40px
$spacer-tablet: 20px
$spacer-mobile: 10px

// Mixins
@mixin transition($transitiontime)
  -webkit-transition: all $transitiontime ease
  -moz-transition: all $transitiontime ease
  -o-transition: all $transitiontime ease
  transition: all $transitiontime ease
